<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>hola</title>
    </head>
    <body>
        <h1>hola</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for p in post %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </body>
</html>
